body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5%;
    background: #cccccc;
}

.bg-3{
    background-color: #fff;
}
.bg-2{
    background-color: #a3a3a3;
}
.bg-1{
    background-color: #450247;
}
.col-s{
    color: #9606B3;
}
.col-p{
    color:#450247;
}
.col-t{
    color: #fff;
}
.center{
    text-align: center;
}
.box{
    background-color: #9747ff;
    border-radius: 1%;
    padding: 0;
}
.box-l{
    padding: 1%;
}
.box-m{
    margin: 0;
    border-radius: 5px;
   
    padding: .5%;
    overflow: auto;
}
.box-r{
    text-align: center;
    padding: 1%;
    border-radius: 5px;
}
.btn{
    background-color: #9606B3;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1em;
}


.margin{
    margin: 1rem;
}
.char-size{
    font-size: 1.2em;
}
.menu{
    font-size: 20px;
}
.clicked{
    cursor:pointer;
}
.blog{
    padding-bottom: 5%;
    font-size: 40px;
    border-bottom: #fff 2px solid;
}
.box-l img{
    max-width: 40%;
}
.graph-chart img{
    max-width: 40%;
}
.padding{ 
    padding: 1rem;
}
.width-m{
    width: 95%;
}
.stat-box{
    border-radius: 1rem;
    padding: 1%;
    width:20%;
    min-height: 15vh;
}
.stat-box h3{
    font-size: .5rem;
}
.stat-icon{
    font-size: 2em;
    color: #9606B3;
    margin: 0;
}
.number{
    font-size: 1.5rem;
    font-weight: bold;
    color: #450247;
    margin-top:1rem;
}
.search-input {
    padding: 1%;
    border-radius: 1rem;
    border-color: #fff;
    max-width: 90%;
    margin-left: .5rem;
}
.statistics{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.srch{
    padding: 1%;
    color: #888;
    font-size: 1.6rem;
    border-radius: 1rem;
    max-width: 80%;
    border: none;
}

.period{
    border: none;
}
.graph{
    padding:1%;
    border-radius: 1rem; 
    max-width: 90%;
    min-height: 50%; 
}
.recent-article{
    padding: 2%;
    max-width: 90%;
   border-radius: 1rem;
   min-height: 60%; 
}
.recent-article table{
    font-size:.7em;
    text-align: center;
}
table th{
    font-weight: bold;
}
.recent-comments{
    max-width: 100%;
    min-height: 60%;
    padding: 1%;
    border-radius: 1rem;
}
.subscription{
    max-width: 90%;
    border-radius: 1rem;
    font-size: 5vw;

}
.pp{
    color: #fff;
    font-size: 2rem;
}

.post-content{
    padding: 1%;
    max-width: 100%;
   border-radius: 1rem;
   text-align:start;
   min-height: 80%; 
   font-size: .7rem;
   margin-inline:0;
}

.mg-r{
    padding-right: 2em;
}

.scrol{
    overflow: auto;
}
.text-input{
    padding: 1%;
    border-radius: 1rem;
    border-color: #fff;
    width: 90%;
}
.height-input{
    min-height: 40vh;
}
#edit, #delete{
    cursor: pointer;
}
#edit:hover, #delete:hover{
    color:#9606B3;
}
.query-item{
    padding: 1%;
    width: 90%;
   border-radius: 1rem;
   text-align: start;
}
.graphic-m{
    display: none;
}
.card-sized{
    padding: 10px;
    margin: 10px;
    font-size:16px;
    width:300px;
    height: 350px;
    border: #8888 1px solid; 
    overflow: hidden;
}
.card-sized img{
    width: 40vw;
    height: 40vw;
}
.pd-l{
    padding-left: 60px;
}
@media (min-width: 800px){
    body{
        padding:.5%;
    }
    .box{
        display: flex;
        flex-flow: row wrap;
        background-color: #9747ff;
        border-radius: 1%;
        padding: 0;
    }
    .box-l{
        padding: 1%;
        border-radius: 5px;
        width: 15%;
        min-height: 36rem;
        margin: 0;
    }
    .box-m{
        margin: 0;
        border-radius: 5px;
        width: 60%;
        min-height: 35rem;
        padding: .5%;
        overflow: auto;
    }
    .box-r{
        text-align: center;
        padding: 1%;
        border-radius: 5px;
        width: 20%;
        min-height: 36rem;
        margin: 0;
    }
    .height-input{
        min-height: 48vh;
    }
    .graphic-m{
        display: block;
    }
    .graphic-m{
        padding: 1%;
        max-width: 95%;
       border-radius: 10px;
       text-align: center;
       max-height: 16%;
    }
    .graphic-m img{
        height: 10%;
        margin: 0px;
        width:20%;
    }
    .box-l img{
        max-width: 100%;
    }
    
    .flex-col{
        display: flex;
        flex-flow: column;
        align-content:space-between ;
    }
    .graph-chart img{
        height: 50px;
        margin: 0px;
        width:50%;
    }
    .flex-row{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .graph-head{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0;
    }
    
    .title-w{
        width: 40%;
        text-align: center;
        
    }
    .height{
        height: 54vh;
    }
    form{
        width: 95%;
        height:95%;
    }
    .char-size{
        font-size: 1.5em;
    }
    .pp{
        font-size: 5vw;
    }
    .card-sized{
        padding: 10px;
        margin: 10px;
        font-size:16px;
        width:300px;
        height: 350px;
        border: #8888 1px solid; 
        overflow: hidden;
    }
    .card-sized img{
        width: 15vw;
        height: 10vw;
    }
   
}
@media (min-width:360px){
    .subscription{
        max-width: 90%;
        border-radius: .5rem;
        font-size:1em;
    }
    .stat-box h3{
        font-size: 2vw;
        font-weight:bolder;
    }
    .text-input{
       font-size:1.2em ;
    }
}
.form-control {
    
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}


.form-control input ,
.form-control textarea {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	width: 95%;
}

.form-control input:focus, textarea:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input,
.form-control.error textarea {
	border-color: #e74c3c;
}


.form-control small {
    max-width: 100%;
    font-size: 16px;
    color: #9606b3;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}

