body{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.title{
    font-size: 1.2em;
}
.bg{
    background-color:#450247;
}
.colorWhite{
    color: #f0f0f0;
}
.col-primary{
    color: #9606b3;
}
.col-secondary{
    color: #450247;
}
.social-network{
    font-size: 1rem;
    color:#450247;
}

.padding{
    padding: 1rem;
}
.sized{
    font-size: 1rem;
}


.profile{
    height: 35vw;
    width: 35vw;
    padding-left:2rem;

}
.center{
    text-align: center;
}
.menu{
    min-height:auto;
    padding:.5rem;
    max-width:100%
}
.menu ul{
    text-align: center;
}
.menu li{
    list-style: none;
    padding-right: 3rem;
    font-weight: bold;
    padding-bottom:1rem;
}
.menu li a:hover{
    cursor: pointer;
}
.menu li a{
    text-decoration: none;
    padding: 5px;
    color: #f0f0f0;
}

.card{
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px #8888
}

.card img{
    height: 25vw;
    width: 25vw;
    border-radius: 5px;
}
.btn{
    text-decoration: none;
    text-align: center;
    color: #f0f0f0;
    background-color: #9606b3;
    padding: .5rem;
    border-radius: 5px;
    width: 10rem;
    font-weight: bold;
}
.row{
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    justify-content:center;
}
.rowX{
    display: flex;
    flex-flow: row;
    margin: 1rem;
    justify-content:center;
}
.skills{
    border: #8888 solid 1px;
    box-shadow: 5px 5px#8888;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
}
.progress{
    background-color: #450247;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #8888;
    margin-left: 10px;
}
.level{
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 10px;
    float: right;
}
.js{
    width: 50%;
}
.html{
    width: 40%;
}
.css{
    width: 30%;
}
.about-content{
    max-width: 100%;
    padding: 2rem;
    align-self: center;
}
.contact-me{
    background-color: #450247;
    padding: 10px;
}
.language{
    display: flex;
    flex-flow: row;
    font-style: arial;
   
}
.language i{
    padding: 10px;
    border: black 1px solid;
    border-radius: 5px;
    margin: 5px;
}
.extra{
    max-width: 80%;
    margin: 1rem;
}
.msg{
    width: 62%;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}
.submit {
    color: #450247;
    background-color: bisque;
    margin-top: 10px;
    
}
.text-input{
    padding: 1rem;
    border-radius: .5rem;
    width: 30%;
    border-color:#f0f0f0;
 }
 .char{
    font-size: 3rem;
}
.profile-pic{
    max-width: 35%;
    align-self: center;
}
.footer{
    background-color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem;
}
.l{
    display: flex;
    flex-flow: column wrap;
}
.container img{
    max-width: 80%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #8888;
}
.infor{
    padding: 2rem;
}
.login{
    background-color: #9606b3;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    width: 3rem;
    height: 1.5rem;
    text-align: center;
}
.login a{
    text-decoration: none;
    color:#f0f0f0;

}

.form-control{
    background-color: lime;
    border-radius: 1rem;
    padding: 1%;
    margin:.5rem;
    width: 95%;
    min-height:50%;
}
/*
.form {
    
    background-color: #8888;
    padding: 1%;
}
form div {
    max-width: 100%;
    margin: .5em;
    background-color: lime;
}
form div input{
    width: 100%;
    background-color: blue;
    min-height:10px;
}
form div i{
    background-color: aqua;
}*/
label {
    display: block;
    padding-left: .5em;
    font-size: 2em;
    /*margin-bottom: 1rem;*/
  }
  .success-icon,
  .failure-icon {
    right: 0;
    opacity: .2;
  }
  
  .failure-icon,
  .error {
    color: red;
    background-color: cyan;
    
  }
  
  .success-icon {
    color: green;
  }
  .error {
    font-size: 1rem;
    margin-top: 1rem;
  }
  input:focus {
    border: 2px solid #f2796e;
  }

  

@media (min-width:720px){
    .menu ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    .infor{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .title{
        font-size: 1.5;
        padding-left: 2rem;
       
    }
    .col1{
        width: 52%;
        font-weight: 500;
    }
        
    .col2{
        width: 30%;
        padding-top: 0px;
    }
    
    .main-box{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .profile-pic{
        max-width: 20%;
        align-self: center;
    }
    .about-content{
       max-width: 70%;
    }
    .char{
        font-size: 1.2em;
    }
    .sized{
        font-size:1.3em;
    }
    .profile{
        height: 25vw;
        width: 25vw;
        padding-left:2rem;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 1rem;
        
    }
    .btn{
        padding: 1rem;
    }
   .icon{
       position: relative;
       display: none;
   }
    
}

/*

.icons i{
    color: #9606b3;
    font-size: 2rem;
    margin-right: 15rem;
}

.main-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2%;
}

.manipulate i{
    font-size: 2rem;
}
.board{
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 50%;
}


.date-picker{
    width: 15%;
    border-radius: 5px;
    height: 2.5em;
   border-color:#f0f0f0;
   margin-left: 10%;
}
.writer{
    width: 50%;
}
.svg{
    width: 30%;
    height: 100%;

}
.query{
    height: 70vh;
    width: 100%;
}
.head{
    background-color: #8888;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    font-weight: bold;
}
.qdate{
    width: 10%;
}
.qname{
    width: 20%;
}
.qemail{
    width: 20%;
}
.qmessage{
    width: 25%;
}
.item{
    font-size: 18px;
    padding: 20px;
    margin:5px;
    border-radius: 5px;
    box-shadow: 5px 5px #8888;
    border: #8888 solid 1px;
}
.text{
    width: 60%;
    margin-left: 20%;
    margin-right: 10%;
}
.blog-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding:20px;
    background: url('https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center;
    background-size: cover;
    align-items: flex-end;
}

.bm{
    padding-right:40px;
    font-weight: bold;
    font-size:30px;

}

.bm a{
    text-decoration: none;
    padding: 5px;
    color:#9606b3;
    margin-bottom:-1px ;
}
.tblog{
    font-size:15vh;
    color:#9606b3;
    margin-right:40%;
}
.blog-image{
    width:50vw;
    height:55vh;
    border-radius:5px;
}
.paper{
    font-size:1vw
}
.article-container{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding:10px;
}
.card-sized{
    font-size:1vw;
    width:28%;
    margin:10px;
    border: #8888 1px solid; 
}
.commenting-box{
    margin-left:1%;
    padding: 10px;
}
.commenting-box input{
    margin: 10px;
    color: #f0f0f0;
    font-weight: 500;
}

  
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
*/
form div {
    position: relative;
    margin-bottom: 1rem;

  }
  
  form div i {
    position: absolute;
    padding: 10px;
   
  }
  
/*
navigation bar

*/



  
  
 