body{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.title{
    font-size: 1.2em;
}
.bg{
    background-color:#450247;
}
.colorWhite{
    color: #f0f0f0;
}
.col-primary{
    color: #9606b3;
}
.col-secondary{
    color: #450247;
}
.social-network{
    font-size: 1rem;
    color:#450247;
}

.padding{
    padding: 1rem;
}
.sized{
    font-size: 1rem;
}


.profile{
    height: 35vw;
    width: 35vw;
    padding-left:2rem;

}
.center{
    text-align: center;
}
.menu{
    min-height:auto;
    padding:.5rem;
    max-width:100%
}
.menu ul{
    text-align: center;
}
.menu li{
    list-style: none;
    padding-right: 3rem;
    font-weight: bold;
    padding-bottom:1rem;
}
.menu li a:hover{
    cursor: pointer;
}
.menu li a{
    text-decoration: none;
    padding: 5px;
    color: #f0f0f0;
}

.card{
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px #8888
}

.card img{
    height: 25vw;
    width: 25vw;
    border-radius: 5px;
}
.btn{
    text-decoration: none;
    text-align: center;
    color: #f0f0f0;
    background-color: #9606b3;
    padding: .5rem;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
}
.row{
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    justify-content:center;
}
.rowX{
    display: flex;
    flex-flow: row;
    margin: 1rem;
    justify-content:center;
}
.skills{
    border: #8888 solid 1px;
    box-shadow: 5px 5px#8888;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
}
.progress{
    background-color: #450247;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #8888;
    margin-left: 10px;
}
.level{
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 10px;
    float: right;
}
.js{
    width: 50%;
}
.html{
    width: 40%;
}
.css{
    width: 30%;
}
.about-content{
    max-width: 100%;
    padding: 2rem;
    align-self: center;
}
.contact-me{
    background-color: #450247;
    padding: 10px;
}
.language{
    display: flex;
    flex-flow: row;
    font-style: arial;
   
}
.language i{
    padding: 10px;
    border: black 1px solid;
    border-radius: 5px;
    margin: 5px;
}
.extra{
    max-width: 80%;
    margin: 1rem;
}
.msg{
    width: 62%;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}
.submit {
    color: #450247;
    background-color: bisque;
    margin-top: 10px;
    width:20%
}
.text-input{
    padding: 1rem;
    border-radius: .5rem;
    width: 30%;
    border-color:#f0f0f0;
 }
 .char{
    font-size: 3rem;
}
.profile-pic{
    max-width: 35%;
    align-self: center;
}
.footer{
    background-color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem;
}
.l{
    display: flex;
    flex-flow: column wrap;
}
.container img{
    max-width: 80%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #8888;
}
.infor{
    padding: 2rem;
}
.login{
    background-color: #9606b3;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    width: 3rem;
    height: 1.5rem;
    text-align: center;
}
.login a{
    text-decoration: none;
    color:#f0f0f0;

}

/*Forms*/
.form {
	padding: 25px 40px;	
    background-color: #777;
    border-radius: 1%;
    margin-inline: 10%;
    margin-block: 10%;
}
.form-control {
    
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.contact-me{
	position: relative;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}
.form-control input:focus {
	outline: 0;
	border-color: #777;
}
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.form-control small {
    max-width: 100%;
    font-size: 16px;
	color: #e74c3c;
    color: #9606b3;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.contact-me small{
    color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 20rem;
	visibility: hidden;
}
.form-control.error small {
	visibility: visible;
}
.contact-me.error small{
    visibility: visible;
}
/*Blog*/
.blog-menu{
    padding:2rem;
    background: url('https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center;
    background-size: cover;
}
.bm{
    padding-right:40px;
    font-weight: bold;
    font-size:2rem;
}

.bm a{
    text-decoration: none;
    padding: 5px;
    color:#9606b3;
    margin-bottom:-1px ;
}
.tblog{
    font-size:15vh;
    color:#9606b3;
}
.paper{
    padding: 2%;
}
.blog-image{
    max-width: 90%;
    height:40vh;
    border-radius:5px;
}



.card-sized{
    font-size:1em;
    max-width:90%;
    margin:5%;
    border: #8888 1px solid; 
}
@media (min-width:720px){
    .menu ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    .infor{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .title{
        font-size: 1.5;
        padding-left: 2rem;
       
    }
    .col1{
        width: 52%;
        font-weight: 500;
    }
        
    .col2{
        width: 30%;
        padding-top: 0px;
    }
    
    .main-box{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .profile-pic{
        max-width: 20%;
        align-self: center;
    }
    .about-content{
       max-width: 70%;
    }
    .char{
        font-size: 1.2em;
    }
    .sized{
        font-size:1.3em;
    }
    .profile{
        height: 25vw;
        width: 25vw;
        padding-left:2rem;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .btn{
        padding: 1rem;
    }
   .icon{
       position: relative;
       display: none;
   }
   .form {
    background-color: #777;
    border-radius: 1%;
    margin-inline: 30%;
    margin-block: 10%;
    max-width: 50%;
    justify-content: center;
    align-self: center;
    }
    .blog-menu{
    display: flex;
    flex-flow:row;
    justify-content: flex-end;
    padding:1%;
    background: url('https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center;
    background-size: cover;
    align-items: flex-end;
    position: relative;
    min-height: 20%;
    }
    .tblog{
        position: absolute;
        left: 20px;
        bottom: 10px;
        margin-right: 1%;
    }
    .blog-image{
        width:60vw;
        height:50vh;
        border-radius:5px;
    }
    
    .text{
        max-width: 80%;
        margin-left: 20%;
    }
    .article-container{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        padding:10px;
    }
}
  
/*

.icons i{
    color: #9606b3;
    font-size: 2rem;
    margin-right: 15rem;
}
.text{
    width: 60%;
    margin-left: 2%;
    margin-right: 10%;
}

.main-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2%;
}

.manipulate i{
    font-size: 2rem;
}
.board{
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 50%;
}


.date-picker{
    width: 15%;
    border-radius: 5px;
    height: 2.5em;
   border-color:#f0f0f0;
   margin-left: 10%;
}
.writer{
    width: 50%;
}
.svg{
    width: 30%;
    height: 100%;

}
.query{
    height: 70vh;
    width: 100%;
}
.head{
    background-color: #8888;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    font-weight: bold;
}
.qdate{
    width: 10%;
}
.qname{
    width: 20%;
}
.qemail{
    width: 20%;
}
.qmessage{
    width: 25%;
}
.item{
    font-size: 18px;
    padding: 20px;
    margin:5px;
    border-radius: 5px;
    box-shadow: 5px 5px #8888;
    border: #8888 solid 1px;
}



.commenting-box input{
    margin: 10px;
    color: #f0f0f0;
    font-weight: 500;
}

  
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
*/
/*.form-control{
    background-color: lime;
    border-radius: 1rem;
    padding: 1%;
    margin:.5rem;
    width: 95%;
    min-height:50%;
}*/

 